body {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.blur {
    transition-property: opacity;
    transition-duration: .3s;
    opacity: .7;
    /* background-color: red; */
    /* backdrop-filter: blur(10px); */
}

app-plan-suscripcion {
    height: fit-content;
    width: fit-content;
}

@media (max-width: 800px) {

    body {
        flex-wrap: wrap;
    }

}