<body>
    <div #movie id="movie">
        <img id="movie-image" src={{image}} alt="">
        <div *ngIf="show_progression_bar" id="progression-bar">
            <div id="elapsed"></div>
        </div>
    </div>
    <p class="text-remaining-time" *ngIf="show_remaining_time">75 minutos para terminar</p>
    <h1 *ngIf="is_continue_watching" class="title-movie">{{title}}</h1>
    <div *ngIf="is_episode" class="container-episode-description">
        <p class="title-episode-description">Episodio 1: Temporada 1</p>
        <p class="episode-description">{{episode_description}}</p>
    </div>
    <div id="play-layer">
        <img #play_button src="assets/icon_watch.svg" class="display_none" alt="">
    </div>
</body>