body {
    margin-top: 50px;
    margin-left: 40px;
}

h1 {
    display: flex;
    align-items: center;
    position: sticky;
    top: 50px;
    height: 70px;
    background-color: #100F0F;
    /* margin-bottom: 40px; */
}

@media (max-width: 800px) {

    body {
        margin-left: 20px;
        /* margin-top: 150px; */
    }

    h1 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    

}