<body>
    <h1>Comentarios y calificaciones</h1>

    <app-comentario
        url_photo_profile="assets/PhilipDunn.png"
        username="Philip Dunn"
        date="13/02/2021"
    ></app-comentario>

    <app-comentario
        url_photo_profile="assets/LarryTurner.png"
        username="Larry Turner"
        date="04/12/2020"
    ></app-comentario>

    <app-comentario
        url_photo_profile="assets/LarryTurner.png"
        username="Larry Turner"
        date="04/12/2020"
    ></app-comentario>

</body>

