body {
    display: grid;
    /* height: 100vh; */
    /* grid-template-rows: 1fr 10fr 20fr; */
}

.container {
    grid-row-start: 1;
    grid-column-start: 1;
    display: grid;
    margin-top: 80px;
    height: fit-content;
}

.btn-clear-text {
    transform: scale(1.8);
    align-self: center;
    width: 32px;
}

.btn-clear-text:hover {
    cursor: pointer;
}

.container-buscador {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 12%);
}

.buscador {
    background-color: #1f1f1f;
    width: 100%;
    height: 80px;
    border: none;
    outline: none;
    font-size: 36px;
    color: white;
    caret-color: #2F88FF;
    padding-left: 30px;
}

.btn-activar-filtros {
    /* margin-top: 10px; */
    /* height: fit-content; */
    /* margin-left: 10px; */
    /* margin-right: 40px; */
    /* width: 200px; */
    display: flex;
    align-items: center;    
    cursor: pointer;
    color: white;
    background-color: #2F88FF;
    border-radius: 4px;
    border: 1px solid #1f1f1f;
}

.btn-activar-filtros p {
    margin: 0;
    font-size: 18px;
    /* width: 140px; */
    /* margin-left: 10px; */
    padding-right: 14px;
}

.btn-activar-filtros:hover {
    transition-property: border;
    transition-duration: .4s;
    border: 1px solid white;
}

.btn-activar-filtros:not(:hover) {
    transition-property: border;
    transition-duration: .2s;
    border: 1px solid #1f1f1f;
}

.btn-activar-filtros mat-icon {
    width: 50px;
    transform: scale(1.4);
}

.btn-quitar-filtros mat-icon {
    margin-left: 0 !important;
}

.btn-quitar-filtros {
    background-color: #F51A1A !important;
    padding-right: 30px !important;
}

.filtro {
    z-index: 1;
    align-self: center;
    height: fit-content;
    display: flex;
    border: 1px solid #1f1f1f;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 30px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1f1f1f;
}

.filtro p {
    font-size: 14px;
    align-self: center;
    padding-left: 10px;
    margin: 0;
    /* margin-top: 3px; */
    /* margin-right: 10px; */
}

.filtro:hover {
    border: 1px solid white;
    cursor: pointer;
}

.container-filtros {
    align-items: center;
    display: flex;
}

.filtro mat-icon {
    transform: scale(.8);
    margin-left: 10px;
    /* padding-bottom: 20px; */
}

.visibility-hidden {
    visibility: hidden;
    width: 0;
}

.border-blue {
    border: 1px solid #2F88FF;
}

.icon-search-input {
    transform: scale(1.6);
    color: #6b6b6b;
    align-self: center;
    margin-left: 30px;
}

.display-none {
    display: none !important;
}

.container-hint-resultados {
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    align-self: center;
    justify-self: center;
    margin-top: 260px;
    height: fit-content;
}

.container-hint-resultados mat-icon {
    justify-self: center;
    transform: scale(3.5);
}

.text-hint-resultados {
    margin-bottom: 40px;
    color: #6b6b6b;
    width: fit-content;
}

.mat-spinner-color::ng-deep circle{
    stroke: #2F88FF;
}

mat-spinner {
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: center;
    transform: scale(.5);
}

.resultados {
    align-self: center;
    margin-left: 24px;
    display: flex;
    flex-flow: wrap;
    height: fit-content;
}

@media (max-width: 800px) {
    .resultados {
        height: 50vw;
        margin-left: 20px;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .container-hint-resultados {
        height: fit-content;
        margin-top: 220px;
    }

    .text-hint-resultados {
        width: 320px;
        text-align: center;
        margin: 0;
        margin-bottom: 25px;
        font-size: 20px;
    }

    .icon-search-input {
        margin-left: 0;
        transform: scale(2.6) !important;
    }

    .buscador {
        height: 60px;
        font-size: 20px;
        padding-left: 15px;
    }

    .btn-activar-filtros p {
        display: none;
    }

    .app-continuar-viendo {
        margin-right: 4vw;
    }

    .container-filtros {
        flex-wrap: wrap;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 10px;
    }

    .filtro {
        padding: 4px;
        margin: 0;
        margin-right: 10px;
        margin-bottom: 10px;
        /* width: 120px; */
    }

    .filtro-duracion {
        margin: 0;
    }

    .filtro p {
        /* font-size: 10px; */
    }

    .filtro:hover {
        border: 1px solid #2F88FF;
    }

    .btn-clear-text {
        transform: scale(1);
    
    }
}