<body>
    <div #perfil class="perfil">
        <img class="img-perfil" src="../../assets/icon_mi_cuenta.svg" alt="">
        <h3>user_uno</h3>
        <h4>Administrador</h4>
    </div>
    
    <div #container_actions class="display-none container-actions">
        <div class="delete-user">
            <mat-icon fontIcon="delete"></mat-icon>
            <p>Eliminar perfil</p>
        </div>
        <div class="remove-admin">
            <mat-icon fontIcon="admin_panel_settings"></mat-icon>
            <p>Quitar privilegios de administrador</p>
        </div>
    </div>

</body>
