<body>
    <h1 #title>¿Qué te ha parecido la película?</h1>
    <div #box_comment class="box-comment">
        <textarea #textarea class="" name="" id="" placeholder="Click aquí para escribir comentario"></textarea>
        <button #btn_comment class=" btn-comment">Comentar</button>
        <mat-icon class="mat-icon display-none" fontIcon="check"></mat-icon>
    </div>
    <div #container_puntuacion class="container-puntuacion visibility-none">
    <!-- <div #container_puntuacion class="container-puntuacion"> -->
        <h1 class="title-puntuacion">¿Qué puntuación le darías a la película?</h1>
        <div #stars class="stars">
            <mat-icon fontIcon="star"></mat-icon>
            <mat-icon fontIcon="star"></mat-icon>
            <mat-icon fontIcon="star"></mat-icon>
            <mat-icon fontIcon="star"></mat-icon>
            <mat-icon fontIcon="star"></mat-icon>
        </div>
    </div>
</body>