<app-nav-bar></app-nav-bar>
<body>
    <button class="btn-add-favorites">
        <div #container_loading class="display-none loading-add-favorites">
            <mat-spinner class="mat-spinner-color"></mat-spinner>
            <p>Agregando a favoritos</p>
        </div>
        <div #container_add_favorites class="container-btn-add-favorites">
            <mat-icon fontIcon="favorites"></mat-icon>
            <p>Agregar a favoritos</p>
        </div>
        <div #container_added_to_favorites class="display-none container-btn-add-favorites">
            <mat-icon fontIcon="check"></mat-icon>
            <p>Agregada a favoritos</p>
        </div>
    </button>
    <div class="blur-filter"></div>
    <div class="image-movie-container">
        <img src="{{src_image}}" alt="">
    </div>
    <div class="mobile-image-movie-container display-none">
        <img src="{{mobile_src_image}}" alt="">
    </div>
    <div class="title-and-description">
        <h1>{{title}}</h1>
        <p class="movie-description">{{description}}</p>
    </div>
    <div class="container-buttons-play">
        <button class="btn-reproducir" routerLink="/watch">
            <img src="../../assets/icon_play_movie.svg" alt="">
            <p>Reproducir</p>
        </button>
        <button class="btn-trailer" routerLink="/watch">
            <p>Ver trailer</p>
        </button>
    </div>
    <div *ngIf="is_series" class="container-episodios">
        <h1>Episodios</h1>
        <button>
            <p>Temporada 1</p>
            <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
        </button>
        <div class="episodios">
            <app-movie-continuar-viendo 
                [is_episode] = true
                episode_description = "Fusce accumsan arcu nulla. Aliquam aliquam id neque eget vulputate. Etiam volutpat placerat nunc, nec mattis eros aliquam in. Duis"
                image='{{src_image_episode_1}}'
                [show_progression_bar] = false
                [show_remaining_time]= false
            ></app-movie-continuar-viendo>
            <app-movie-continuar-viendo 
                [is_episode]=true
                episode_description = "Fusce accumsan arcu nulla. Aliquam aliquam id neque eget vulputate. Etiam volutpat placerat nunc, nec mattis eros aliquam in. Duis"
                image='{{src_image_episode_2}}'
                [show_progression_bar] = false
                [show_remaining_time]= false
            ></app-movie-continuar-viendo>
            
        </div>
        </div>
</body>


<app-comentarios></app-comentarios>

<app-agregar-comentario></app-agregar-comentario>