body {
    display: grid;
    margin-top: 60px;
}

.image-movie-container {
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
}

.image-movie-container img {
    width: 100%;
    height: 600px;
    opacity: .6;
}

.title-and-description {
    z-index: 2;
    position: absolute;
    margin-left: 50px;
    margin-top: 60px;    
}

.title-and-description h1 {
    font-size: 40px;
}

.movie-description {
    font-weight: lighter;
    font-size: 18px;
    width: 500px;
}

.blur-filter {
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    align-self: center;
    width: 610px;
    height: 400px;
    background-color: #1E1E1E;
    opacity: .65;
    filter: blur(60px);
}

.btn-trailer {
    margin-top: 350px;
    padding-right: 25px;
    background-color: rgba(30, 30, 30, .8);
    border: 2px solid transparent;
    height: 50px;
}

.btn-reproducir {
    margin-top: 180px;
    background-color: #2F88FF;
    height: 60px;
    border: 2px solid #2F88FF;
}

.btn-reproducir, .btn-trailer {
    margin-left: 50px;
    display: flex;
    width: fit-content;
    border-radius: 20px;
    color: white;
    z-index: 1;
    font-size: 20px;
    padding-left: 20px;
    grid-row-start: 1;
    grid-column-start: 1;
    align-self: center;
    align-items: center;
}

.btn-reproducir:hover, .btn-trailer:hover, .btn-add-favorites:hover {
    cursor: pointer;
    border: 2px solid white;
}

.btn-reproducir img {
    margin-left: 20px;
    margin-right: 20px;
    transform: scale(1.4);
}

.back-button {
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 2;
    transform: scale(1.4);
    margin: 20px;
    cursor: pointer;
}

.back-button:hover {
    transform: scale(1.6);
}

.btn-add-favorites {
    border: 2px solid #2F88FF;
    padding: 14px;
    margin-top: 15px;
    margin-right: 15px;
    background-color: #2F88FF;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    z-index: 2;
    grid-row-start: 1;
    grid-column-start: 1;
    width: fit-content;
    height: 50px;
    justify-self: end;
}

.btn-add-favorites p {
    margin: 0;
    margin-bottom: 1px;
}

.btn-add-favorites mat-icon {
    margin-right: 10px;
}

.mat-spinner-color::ng-deep circle{
    stroke: white;
}

mat-spinner {
    width: 40px !important;
    
    transform: scale(.5);
}

.loading-add-favorites, .container-btn-add-favorites {
    display: flex;
    height: inherit;
    align-items: center;
}

.display-none {
    display: none;
}

/* The animation code */
@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0; 
    }
}
  
.animation-hide {
    animation-name: hide;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.animation-show {
    animation-name: show;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}