<!-- <app-nav-bar
    background_color="transparent"
>
</app-nav-bar> -->
<app-nav-bar></app-nav-bar>
<body>
    <div class="blur-filter"></div>
    <div class="image-movie-container">
        <img src="assets/deadpoolandwolverine.webp" alt="">
    </div>
    <div class="title-and-description">
        <h1>Deadpool & Wolverine</h1>
        <p class="movie-description">Six years after the events of Deadpool 2 (2018),[2] Wade Wilson lives a quiet life, having left his time as the mercenary Deadpool behind him, until the Time Variance Authority (TVA)—a bureaucratic organization that exists outside of time and space and monitors the timeline—pulls him into a new mission. With his home universe facing an existential threat, Wilson reluctantly joins an even more reluctant Wolverine on a mission that will change the history of the Marvel Cinematic Universe</p>
    </div>
    <button class="btn-reproducir">
        <p>Reproducir</p>
        <img src="../../assets/icon_play_movie.svg" alt="">
    </button>
    <button class="btn-trailer">
        <p>Ver trailer</p>
    </button>
</body>

<app-comentarios></app-comentarios>

<app-agregar-comentario></app-agregar-comentario>