<app-nav-bar
    [show_inicio] = false
    [show_buscar] = false
    [show_notificaciones] = false
    [show_mi_cuenta] = false
    [show_login] = true
    [show_planes] = true
    [is_selected_faq] = true
></app-nav-bar>

<body>
    <h1>Preguntas frecuentes</h1>

    <div class="container-faq">
        <app-faq
            title="¿Qué es netflics?"
            text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id felis ut tellus pulvinar luctus nec nec nibh. Donec non auctor purus. Quisque blandit nisl libero, sed fermentum odio tincidunt id. Donec efficitur pellentesque tristique. Duis odio ligula, semper sit amet velit vitae, accumsan venenatis purus. Suspendisse at erat ornare, porta leo et, viverra arcu. Duis nec mi vitae ante rhoncus euismod sed vel mi. Nulla ac porta ligula. Cras efficitur sit amet velit at malesuada. Quisque sed lectus eu leo efficitur luctus."
        ></app-faq>

        <app-faq
            title="¿Cuánto cuesta netflics?"
            text = "Phasellus iaculis est ac erat dictum, consectetur interdum turpis pellentesque. In id sapien eget ante posuere semper at non sem. Mauris a ante eget ligula dignissim porttitor vitae id nulla. Morbi vitae laoreet lectus. Mauris varius neque erat, sodales elementum purus porttitor ac. Aliquam erat volutpat. Praesent in malesuada massa. Fusce non tortor quis mauris tincidunt sollicitudin vel non velit. Curabitur sit amet malesuada eros, posuere ullamcorper augue. Proin tristique eleifend iaculis. Nulla ipsum quam, vehicula ut fringilla eget, interdum vel arcu. Ut quis nibh in mi posuere porta ac a eros. Quisque mattis dapibus dapibus. Nulla sit amet libero ac nisl ultricies dapibus."
        ></app-faq>

        <app-faq
            title="¿En qué dispositivos puedo usarlo?"
            text = "Donec vel iaculis leo. Nam ut consequat tellus. Aliquam erat volutpat. Maecenas feugiat in dolor sit amet rhoncus. Duis sed pellentesque odio. Donec eu convallis lectus. In sollicitudin in eros a fringilla. Proin sodales viverra turpis eget rhoncus. Nunc quis ullamcorper metus. Maecenas vitae orci sollicitudin, ullamcorper felis a, feugiat augue. Nunc a arcu eu orci laoreet dictum nec et dolor. Aliquam sed magna iaculis, sollicitudin leo sed, pretium turpis. Duis pharetra dui ligula, ut consectetur eros aliquet non. Mauris augue quam, aliquam at ex non, aliquet mattis leo."
        ></app-faq>

        <app-faq
            title="¿Cómo cancelo mi suscripción?"
            text = "Phasellus iaculis est ac erat dictum, consectetur interdum turpis pellentesque. In id sapien eget ante posuere semper at non sem. Mauris a ante eget ligula dignissim porttitor vitae id nulla. Morbi vitae laoreet lectus. Mauris varius neque erat, sodales elementum purus porttitor ac. Aliquam erat volutpat. Praesent in malesuada massa. Fusce non tortor quis mauris tincidunt sollicitudin vel non velit. Curabitur sit amet malesuada eros, posuere ullamcorper augue. Proin tristique eleifend iaculis. Nulla ipsum quam, vehicula ut fringilla eget, interdum vel arcu. Ut quis nibh in mi posuere porta ac a eros. Quisque mattis dapibus dapibus. Nulla sit amet libero ac nisl ultricies dapibus."
        ></app-faq>
    </div>
    
</body>