body {
    margin-top: 90px;
    margin-left: 60px;
}

.container-faq {
    margin-top: 40px;       
}

@media (max-width: 800px) {

    body {
        margin-left: 35px;
    }

    h1 {
        font-size: 20px;
    }

    .container-faq {
        margin-top: 30px;       
    }
    

}