<body>
    <h1>Preguntas frecuentes</h1>

    <div class="container-faq">
        <app-faq
            title="¿Qué es netflics?"
            text = "Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices.
            You can watch as much as you want, whenever you want without a single commercial – all for one low monthly price. There's always something new to discover and new TV shows and movies are added every week!"
        ></app-faq>

        <app-faq
            title="¿Cuánto cuesta netflics?"
            text = "Watch Netflix on your smartphone, tablet, Smart TV, laptop, or streaming device, all for one fixed monthly fee. Plans range from ARS 4,299 to ARS 9,699 a month (pre-tax). No extra costs, no contracts."
        ></app-faq>

        <app-faq
            title="¿En qué dispositivos puedo usarlo?"
            text = "Watch anywhere, anytime. Sign in with your Netflix account to watch instantly on the web at netflix.com from your personal computer or on any internet-connected device that offers the Netflix app, including smart TVs, smartphones, tablets, streaming media players and game consoles.

            You can also download your favorite shows with the iOS or Android app. Use downloads to watch while you're on the go and without an internet connection. Take Netflix with you anywhere."
        ></app-faq>
    </div>
    
</body>