body {
    display: grid;
    margin-top: 120px;
    width: 100%
}

h2 {
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 0;
}

.container-settings {
    display: grid;
    margin-left: 60px;
}

.container-idioma, .container-plan {
    align-items: center;
}

.plan-and-button {
    display: flex;
}

.dropdown-idioma {
    display: flex;
    align-items: center;
}

.container-user {
    justify-self: center;
    display: grid;
}

.btn-logout {
    margin-top: 10px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2F88FF;
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 10px;
}

.container-user button:hover {
    cursor: pointer;
    border: 1px solid white;
}

.container-user button p {
    margin: 0;
    margin-left: 10px;
}

.container-user button mat-icon {
    color: #2F88FF;
}

.container-user h1 {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 0;
    width: fit-content;
}

.img-user {
    justify-self: center;
    width: 100px;
}

.container-perfiles-creados, .container-favoritos, .container-idioma, .container-plan {
    margin-bottom: 35px;
}

.favoritos {
    display: flex;
    flex-wrap: wrap;
}

.perfiles-creados {
    display: flex;
}

.btn-actualizar-plan {
    align-self: center;
    font-size: 16px;
    border: 1px solid #2F88FF;
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
    height: fit-content;
    border-radius: 10px;
    background-color: #2F88FF;
    color: white;
    margin-left: 50px;
}

.btn-actualizar-plan:hover {
    cursor: pointer;
    border: 1px solid white;
}

app-created-profile {
    height: fit-content;
}

@media (max-width: 800px) {

    .container-settings {
        margin-left: 30px;
    }

    .perfiles-creados {
        flex-wrap: wrap;
    }

    .container-perfiles-creados, .container-favoritos, .container-idioma, .container-plan {
        margin-bottom: 20px;
    }

    .container-user img {
        width: 60px;
    }

    .container-user h1 {
        font-size: 20px;
        justify-self: center;
    }

    .btn-logout {
        padding: 4px;
        margin-bottom: 40px;
    }

    .btn-logout p {
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
    }

    .container-favoritos {
        margin-left: 0;
    }

    .container-favoritos h2 {
        margin-bottom:  10px;
    }

    .favoritos {
        width: 90vw;
        height: 200px;
        overflow-x: scroll;
        flex-wrap: nowrap;
    }

    .movie {
        margin-right: 10px;
    }

}