<body>
    <h1>Free</h1>
    <div class="precio-mensual">
        <p class="title-precio-mensual">Precio mensual</p>
        <p class="value-precio-mensual">0 ARS</p>
    </div>
    <div class="calidad-de-video">
        <p class="title-calidad-de-video">Calidad de video</p>
        <p class="value-calidad-de-video">Normal</p>
    </div>
    <div class="resolucion">
        <p class="title-resolucion">Resolución</p>
        <p class="value-resolucion">480p</p>
    </div>
    <div class="dispositivos">
        <p class="title-dispositivos">Dispositivos</p>
        <p class="value-dispositivos">Smartphone</p>
    </div>
    <div class="offline">
        <p class="title-offline">Offline</p>
        <mat-icon class="mat-icon" aria-hidden="false" fontIcon="check"></mat-icon>
        <!-- <img src="" alt="" class="value-offline"> -->
    </div>
    <div class="libre-de-publicidades">
        <p class="title-libre-de-publicidades">Libre de publicidades</p>
        <mat-icon class="mat-icon" aria-hidden="false" fontIcon="close"></mat-icon>
        <!-- <img src="" alt="" class="value-libre-de-publicidades"> -->
        <!-- close -->
    </div>
    <div class="cantidad-de-perfiles">
        <p class="title-cantidad-de-perfiles">Cantidad de perfiles</p>
        <p class="value-cantidad-de-perfiles">1</p>
    </div>
    <div class="container-button">
        <button>Elegir plan free</button>
    </div>
</body>