<app-nav-bar></app-nav-bar>
<body>
    <h1>Hace unas horas</h1>
    <div class="notificacion">
        <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
        <p>Ya se encuentra disponible la nueva temporada de "The Simpsons"</p>
        <button>Ir a la serie</button>
    </div>

    <div class="notificacion">
        <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
        <p>Se actualizó tu plan de suscripción a <span>PREMIUM</span></p>
    </div>

    <h1 class="ayer">Ayer</h1>
    <div class="notificacion">
        <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
        <p>John Doe actualizó su imagen de perfil</p>
    </div>
</body>