body {
    display: grid;
}

.container {
    margin-top: 100px;
    margin-left: 60px;
}

h1 {
    margin-bottom: 0;
}

.notificacion {
    /* font-size: 18px; */
    border: 1px solid #1E1E1E;
    margin-top: 8px;
    border-radius: 10px;
    display: flex;
    background-color: #1E1E1E;
    width: fit-content;
}

.notificacion p {
    margin-right: 40px;
}

.notificacion p span {
    color: #FFD700;
}

.mat-icon {
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;
    color: #2F88FF
}

.notificacion button {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border: 2px solid #2F88FF;
    color: white;
    border-radius: 10px;
    align-self: center;
    height: 35px;
    margin-right: 20px;
    margin-left: 10px;
    background-color: #2F88FF;
    /* font-size: 14px; */
    
    /* background-color: black; */
}

.notificacion button p {
    margin: 0;
}

.notificacion button:hover {
    /* background-color: white; */
    cursor: pointer;
    border: 2px solid white;
}

.recien, .hace-unas-horas, .ayer, .una-semana-atras {
    margin-bottom: 50px;
}

.hace-unas-horas, .ayer, .una-semana-atras {
    font-weight: lighter;
}

.hace-unas-horas h1, .ayer h1, .una-semana-atras h1 {
    font-weight: lighter;
}

.ayer .notificacion, .una-semana-atras .notificacion, .hace-unas-horas .notificacion {
    background-color: #100F0F;
}

.ayer .mat-icon, .una-semana-atras .mat-icon, .hace-unas-horas .mat-icon {
    color: #2f2f2f;
}

.notificacion:hover {
    cursor: default;
    /* transition-property: border;
    transition-duration: .4s;
    border: 1px solid white; */
}

@media (max-width: 800px) {

    .container {
        margin-left: 35px;
        /* w */
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
        width: 250px;
        margin: 0;
        align-self: center;
    }

    .notificacion {
        width: 340px;
        padding: 8px;
    }

    .mat-icon {
        width: 40px;
        /* margin: 0; */
        margin-left: 5px;
        margin-right: 5px;
        transform: scale(.8);
        /* margin-right: 20px; */
    }

}