<app-nav-bar
    [show_login] = false
    [show_planes] = false
    [is_selected_notificaciones] = true
></app-nav-bar>
<body>
    <div class="container">

        <div class="recien">
            <h1>Recién</h1>
            <div class="notificacion">
                <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
                <p>Ya se encuentra disponible la nueva temporada de "The Simpsons"</p>
                <!-- <button>Ir a la serie</button> -->
            </div>
        </div>
        
        <div class="hace-unas-horas">
            <h1>Hace unas horas</h1>
            <div class="notificacion">
                <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
                <p>Ya se encuentra disponible la nueva temporada de "The Simpsons"</p>
                <!-- <button>Ir a la serie</button> -->
            </div>
            <div class="notificacion">
                <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
                <p>Se actualizó tu plan de suscripción a <span>PREMIUM</span></p>
            </div>
        </div>
        
        <div class="ayer">
            <h1>Ayer</h1>
            <div class="notificacion">
                <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
                <p>John Doe actualizó su imagen de perfil</p>
            </div>
            <div class="notificacion">
                <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
                <p>Se actualizó tu plan de suscripción a <span>PREMIUM</span></p>
            </div>
            <div class="notificacion">
                <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
                <p>John Doe actualizó su imagen de perfil</p>
            </div>
        </div>
        
        <div class="una-semana-atras">
            <h1>Una semana atrás</h1>
            <div class="notificacion">
                <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
                <p>John Doe actualizó su imagen de perfil</p>
            </div>
            <div class="notificacion">
                <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
                <p>Ya se encuentra disponible la nueva temporada de "The Simpsons"</p>
                <!-- <button>Ir a la serie</button> -->
            </div>
        </div>

    </div>
</body>