<body #body class="display-none">
    <div #btn class="btn-duracion">
        <p>Duración</p>
        <mat-icon #icon_check class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_down"></mat-icon>
    </div>
    <div #opciones class="opciones">
        <!-- <div #opcion class="opcion"> -->
        <div #opcion class="opcion opacity-zero">
            Más de una hora
        </div>
        <div #opcion class="opcion opacity-zero">
            Menos de una hora
        </div>
        <div #opcion class="opcion opacity-zero">
            30 minutos
        </div>
    </div>
</body>