body {
    font-size: 40px;
    margin-bottom: 50px;
}

h1 {
    font-size: 40px;
}

.username {
    font-size: 20px;
    margin: 0;
}

.date {
    margin: 0;
    font-weight: lighter;
    font-size: 15px;
}

.comment {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 2px;
}

.container-comentario {
    display: grid;
    height: fit-content;
    width: 700px;
    /* background-color: rebeccapurple; */
}

.username-and-date, .container-photo-profile {
    grid-row-start: 1;
    grid-column-start: 1;
}

.username-and-date {
    align-content: center;
    width: fit-content;
    margin-left: 70px;
}

.content {
    margin-top: 4px;
    /* margin-left: 20px; */
    /* grid-row-start: 1;
    grid-column-start: 1; */
}

.container-photo-profile {
    width: fit-content;
}

.photo-profile {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: black;
}

.container-calificacion {
    width: 290px;
    display: flex;
    font-size: 16px;
    /* align-items: center; */
    justify-content: space-between;
}

.title-calificacion {
    /* padding-bottom: 7px; */
}

.text-calificacion {
    margin-top: 20px;
    align-self: center;
}

.stars {
    display: flex;
    align-self: center;
}

.painted-star {
    color: #2F88FF;
}

.not-painted-star {

}

@media (max-width: 800px) {

    .container-comentario {
        display: grid;
        width: fit-content;
    }

    .content {
        display: grid;
        margin-left: 0;
        width: fit-content;
    }

    .username-and-date, .container-photo-profile {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .username-and-date {
        margin-left: 60px;
        align-content: center;
        width: fit-content;
    }

    .container-photo-profile {
        height: 50px;
    }

    .container-photo-profile img {
        width: 50px;
        height: 50px;
    }

    .comment {
        font-size: 17px;
        width: 80vw;
    }

    .username {
        font-size: 16px;
    }

    .date {
        font-size: 14px;
    }

}