<body>
    <div class="container-comentario">
        <div class="container-photo-profile">
            <img src="{{url_photo_profile}}" class="photo-profile" alt="">
        </div>
        <div class="username-and-date">
            <h2 class="username">{{username}}</h2>
            <p class="date">{{date}}</p>
        </div>
        <div class="content">
            <p class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eveniet ducimus delectus labore debitis autem sint vel, in reiciendis quas mollitia dolore porro repellat perferendis, dicta iusto aliquid commodi harum!</p>
            <div class="container-calificacion">
                <h3 class="title-calificacion">Calificación:</h3>
                <div class="stars">
                    <mat-icon class="painted-star" fontIcon="star"></mat-icon>
                    <mat-icon class="painted-star" fontIcon="star"></mat-icon>
                    <mat-icon class="painted-star" fontIcon="star"></mat-icon>
                    <mat-icon class="not-painted-star" fontIcon="star"></mat-icon>
                    <mat-icon class="not-painted-star" fontIcon="star"></mat-icon>
                </div>
                <p class="text-calificacion">3 / 5</p>
            </div>
        </div>
    </div>
    
</body>
