* {
    font-size: 18;
    font-weight: normal;
    /* height: fit-content; */
}

body {
    /* background-color: #100F0F; */
    /* background-color: transparent; */
    top: 0;
    margin-bottom: 80px;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 66px;
}

.icon-netflics {
    position: absolute;
    top: 0;
    margin-top: 9px;
    margin-left: 30px;
    display: flex;
    padding-top: 10px;
    width: fit-content;
}

.icon-netflics p {
    margin: 0;
    font-weight: bold;
    font-size: 23px;
    color: #2F88FF;
}

.image-icon-netflics {
    margin-right: 4px; 
    align-self: center;
}

.btn {
    align-self: center;
    display: grid;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 30px;
    padding-right: 30px;
    height: 35px;
}

.btn, .mi-cuenta {
    transition-property: background-color;
    transition-duration: 1s;
    border-radius: 19px;

}

/* The animation code */
@keyframes example {
    from {background-color: #100F0F;}
    to {background-color: #2F88FF;}
  }
  
  /* The element to apply the animation to */
  /* div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  } */

.selected {     
    /* background-color: #2F88FF !important; */
    animation-name: example;
    animation-duration: .3s;
    animation-fill-mode: forwards;

}

.selected:hover {
    /* background-color: #2F88FF !important; */
}

.btn p {
    margin: 0;
    align-self: center;
}

.nav-buttons {
    left: 0;
    width: 100%;
    justify-content: center;
}

.nav-buttons, .mi-cuenta {
    margin-top: 14px;
    position: absolute;
    top: 0;
    display: flex; 
}

.btn:hover, .mi-cuenta:hover {
    cursor: pointer;
    background-color: #1E1E1E;
}

.mat-badge-content {
    width: 20px;
    height: 20px;
    /* border: 1px solid #1E1E1E; */
    margin-top: 4px;
    margin-right: 20px;
    background: #2F88FF;
    color: white;
    /* font-size: 8px; */
    /* padding-bottom: 4px; */
}

.mi-cuenta {
    padding: 10px;
    /* background-color: red; */
    margin: 0;
    margin-right: 10px;
    top: 3px;
    right: 0;
}

.mi-cuenta p {
    align-self: center;
    margin: 0;
    margin-right: 10px;
}

.display-none {
    display: none;
}

.login-and-planes {
    margin-right: 20px;
    width: inherit;
    display: flex;
    justify-content: end;
}