<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="nav-bar.component.css">
</head>
<body>


  <!-- netflics icon -->
  <div class="icon-netflics">
    <img src="assets/icon_netflics.svg" class="image-icon-netflics">
    <p>netflics</p>
  </div>

  <div class="container-nav-buttons">
    <div #btn_home *ngIf="show_inicio" routerLink="/home" class="btn btn-home">
      <mat-icon fontIcon="home"></mat-icon>
      <p>Inicio</p>
    </div>
    <div #btn_buscar *ngIf="show_buscar" routerLink="/busqueda" class="btn" tabindex="2">
      <mat-icon fontIcon="search"></mat-icon>
      <p>Buscar</p>
    </div>
    <div #btn_notificaciones *ngIf="show_notificaciones" routerLink="/novedades" mat-raised-button matBadge="1" matBadgePosition="above after" class="btn btn-notificaciones" tabindex="3">
      <mat-icon fontIcon="notifications"></mat-icon>
      <p>Notificaciones</p>
    </div>
    <div *ngIf="show_login || show_planes" class="login-and-planes">
      <div #btn_login *ngIf="show_login" routerLink="/login" class="btn login">
        <mat-icon fontIcon="login"></mat-icon>
        <p>Login</p>
      </div>
      <div #btn_planes *ngIf="show_planes" routerLink="/planes" class="btn">
        <mat-icon fontIcon="credit_card_gear"></mat-icon>
        <p>Planes de suscripción</p>
      </div>
      <div #btn_faq routerLink="/faq" class="btn">
        <mat-icon fontIcon="help"></mat-icon>
        <p>Preguntas frecuentes</p>
      </div>
    </div>
    <!-- mi cuenta -->
    <div #btn_mi_cuenta *ngIf="show_mi_cuenta" class="btn mi-cuenta" routerLink="/mi-cuenta">
      <img src="assets/icon_mi_cuenta.svg">
      <p>Mi cuenta</p>     
    </div>
  </div>

</body>
</html>