.container-faq {
    background-color: #1E1E1E;
    width: 700px;
    margin-bottom: 10px;
}

.header-faq {
    display: grid;
    align-items: center;    
}

.header-faq:hover {
    transition-property: background-color;
    transition-duration: 340ms;
    background-color: rgba(47, 136, 255, .2);
    cursor: pointer;
}

.header-faq:not(:hover) {
    transition-property: background-color;
    transition-duration: 340ms;
    background-color: #1E1E1E;
    cursor: pointer;
}

.header-faq, .content-faq {
    padding-left: 20px;
    padding-right: 20px;
}

.header-faq h2, .header-faq mat-icon {
    grid-row-start: 1;
    grid-column-start: 1;
}

.header-faq mat-icon {
    justify-self: end;
    transform: scale(1.3);
    color: #2F88FF;
}

.header-faq h2 {
    font-weight: normal;
}

.content-faq {
    overflow-y: hidden;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #100F0F;
}

.content-faq p {
    font-weight: lighter;
    margin: 0;
}

/* The animation code */
@keyframes hide {
    from {
        opacity: 1;
        max-height: 100px;
    }
    to {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0; 
        display: none;
    }
}
  
.animation-hide {
    animation-name: hide;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

.display-none {
    display: none;
}

.animation-show {
    animation-name: show;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

@keyframes show {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 200px;
    }
}

@media (max-width: 800px) {

    .container-faq {
        width: 80vw;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 13px;
    }

    .header-faq mat-icon {
        transform: scale(.8);
    }

}