<app-nav-bar
    [show_login] = false
    [show_planes] = false
    [is_selected_home] = true
></app-nav-bar>

<body>
    <div #container class="container">

        <div class="movie">
            <app-movie-premiere routerLink="/series/the_bear"
                image_preview="assets/a646b830-eeaa-4a42-b279-a059ab3f4172.avif"
                title = "The Bear"
                type = "Nuevos episodios">
            </app-movie-premiere>
        </div>

        <div class="movie">
            <app-movie-premiere routerLink="/series/the_acolyte"
                image_preview="assets/the-acolyte-54-hero-mobile_e247425f.jpeg"
                title = "The Acolyte"
                type = "Nuevos episodios">
            </app-movie-premiere>
        </div>

        <div class="movie">
            <app-movie-premiere routerLink="/movies/deadpool_and_wolverine"
                image_preview="assets/deadpool-wolverine-ryan-reynolds-and-hugh-jackman.avif"
                title = "Deadpool & Wolverine"
                type = "Estreno">
            </app-movie-premiere>
        </div>

    </div>
    <div #container_anterior class="container-anterior">
        <button #anterior class="btn btn-anterior">
            <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_forward_ios"></mat-icon>  
        </button>
    </div>
    <div #container_next class="container-next">
        <button #next class="btn btn-next">
            <mat-icon class="mat-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_forward_ios"></mat-icon>  
        </button>
    </div>

    

</body>

<app-continuar-viendo
    [is_watching] = true
></app-continuar-viendo>

<app-continuar-viendo
    title="Más de Toy Story"
    [continuar_viendo] = false
    src_movie_one = 'assets/toystory2.jfif'
    src_movie_two = 'assets/toystory3.webp'
    src_movie_three = 'assets/toystory4.jfif'
    src_movie_four = 'assets/lightyear.jfif'
></app-continuar-viendo>

<app-continuar-viendo
    title="netflics te recomienda"
    [continuar_viendo] = false
    src_movie_one = 'assets/pulp_fiction.jpg'
    src_movie_two = 'assets/killbill.jpg'
    src_movie_three = 'assets/interstellar.jfif'
    src_movie_four = 'assets/gravity.jpg'
    src_movie_five="assets/the_arrival.jfif"
></app-continuar-viendo>