body {
    display: grid;
    overflow-x: hidden;
}

.container {
    display: flex; 
    margin-left: 3.2vw;
    margin-bottom: 10px;
}

.movie {
    transform: translateX(-100%);
    justify-self: center;
    transition-property: transform;
    transition-duration: .5s;
}

.movie-transform {
    transform: translateX(-100%);
} 

.btn {
    z-index: 1;
    /* background-color: red; */
    background-color: transparent;
    border: 0;
    /* display: grid;
    height: 50px;
    width: 50px;
    border-radius: 100%; */
    align-self: center;
    /* position: absolute; */
    /* margin-top: 80px; */
}

.btn:hover {
    /* cursor: pointer; */
}

.btn-next {
    justify-self: right;
    margin-right: 10px;
}

.btn-anterior {
    justify-self: left;
    margin-left: 10px;
}

.btn-anterior mat-icon {
    transform: rotate(180deg) scale(1.3)
}



mat-icon {
    color: white;
    align-self: center;
    justify-self: center;
    transform: scale(1.3);
}

.display-none {
    display: none;
}

.container-next, .container-anterior {
    z-index: 1;
    width: 60px;
    background-color: rgba(16, 15, 15, .8);
    /* opacity: .7; */
    display: grid;
    position: absolute;
    height: 100%;
    /* cursor: pointer; */
}

.container-next {
    justify-self: right;
}

.container-anterior {
    justify-self: left;
}