body {
    display: grid;
    /* margin-top: 80px; */
    justify-self: center;
    margin-left: 1.3vw;
}

img {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 89vw;
    height: 70vh;
    border-radius: 5px;
}

.premier-movie:hover {
    transition-property: border;
    transition-duration: .6s;
    border-radius: 9px;
    cursor: pointer;
    border: 3px solid white;
}

.premier-movie:not( :hover ){ 
    transition-property: border;
    transition-duration: .3s;
    border-radius: 9px;
    border: 3px solid transparent;
}


.premier-movie {    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.blur-filter {
    align-self: center;
    margin-left: 40px;
    width: 560px;
    height: 80%;
    background-color: #1E1E1E;
    opacity: .5;
    filter: blur(40px);
}

.label, h1, .blur-filter, .btn-reproducir, .btn-ir-a-pelicula {
    grid-row-start: 1;
    grid-column-start: 1;
}

.label, h1, .btn-reproducir, .btn-ir-a-pelicula {
    z-index: 1;
    margin-left: 40px;
}

h1 {
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
    font-size: 50px;
}

.label {
    margin-top: 20px;
    font-size: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: fit-content;
    height: fit-content;
    background-color: #2F88FF;
}

.btn-reproducir {
    justify-content: center;
    border: solid 2px transparent;
    cursor: pointer;
    margin-bottom: 54px;
    align-self: end;
    padding-left: 10px;
    padding-right: 16px;
    border-radius: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    background-color: #2F88FF;
    width: 150px;
    height: 50px;
}

.btn-reproducir img {
    align-self: center;
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.btn-reproducir p {
    align-self: center;
    margin: 0;
    font-size: 18px;
}

.btn-reproducir:hover, .btn-ir-a-pelicula:hover {
    border: solid 2px;
    border-color: white;
}

.btn-ir-a-pelicula {
    cursor: pointer;
    margin-bottom: 7px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 13px;
    width: fit-content;
    border: 2px solid rgba(30, 30, 30, 0);
    align-self: flex-end;
    background-color: rgba(30, 30, 30, .6);
}

.btn-ir-a-pelicula p {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

@media (max-width: 800px) {

    body {
        margin-left: 0;
    }

    .blur-filter {
        width: 130px;
    }

    img, .premier-movie {
        width: 82vw;
        height: 32vh;
    }

    .premier-movie {
        border: none !important;
    }

    .label {
        margin-left: 10px;
        margin-top: 10px;
        font-size: 14px;
    }

    h1 {
        margin-left: 14px;
        margin-top: 40px;
        font-size: 1.6rem;
    }

}