<body>
    
    <div class="premier-movie">
        <img src="{{image_preview}}" alt="">
        <div class="blur-filter"></div>
        <h1>{{title}}</h1>
        <div class="label">
            {{type}}
        </div>
        <div routerLink="/watch" class="btn-reproducir">
            <div style="display: flex">
                <p>Reproducir</p>
                <img src="assets/icon_play_movie.svg" alt="Botón para reproducir">
            </div>
        </div>
        <div routerLink="/movie" class="btn-ir-a-pelicula">
            <p>Ir a la película</p>
        </div>
    </div>
</body>